<h1>{{title}}</h1>

    <a href="/teachers/add"> Add new Teachers</a>

<table class="table table-striped table-hover">
  <thead>
    <th>Name</th>
    <th>Faculty</th>
    <th>Contact</th>
    <th>Rating</th>
    <th></th>
  </thead>
  <tbody>
  {{#each dataset}}
    <tr>
      <td>{{this.name}}</Td>
      <td>{{this.faculty}}</Td>
      <td>{{this.contact}}</Td>
      <td>{{this.rating}}</Td>
      {{!-- Navigating outside the scope of loop to get the user --}}
      {{#if ../user}}  
      <td><a href="/teachers/edit/{{this._id}}" class="btn btn primary">Edit</a></td>
      <td><a href="/teachers/delete/{{this._id}}" class="btn btn danger" onclick="confirmAlert()">Delete</a></td>
      {{/if}}
    </tr>
  {{/each}}
  </tbody>
</table>